.page-height{
  min-height:420px;
}
.copyright{
  padding: 10px 0;
  color: white;
  background-color: #2a465b;
}
footer {
  background: #f4f4f4;
}
footer li{
  padding: 3px 0;
}
.flex{
  min-height: 400px;
}
.product-image {
  overflow: hidden;
  height: 205px;
}
.card-img-top{
  width: 100%;
  height: 200px !important;
  object-fit: cover;
}
.rating{
  font-size:12px;
}